:root {
    --gradient: rgba(255, 255, 255, .8);
    --shadow: rgb(200, 200, 200);
}

.dark {
    --gradient: rgba(29, 30, 32, .75);
    --shadow: rgba(25, 25, 25);
}

.entry-content {
    margin: 0;
    margin-top: 8px;
}

.entry-footer {
    margin-top: 8px;
}

.post-entry {
    box-shadow: 0 0 25px var(--shadow);
}